
 /*..... Custom Design.....  */

 @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Satisfy&display=swap');

 * {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family:"Hanken Grotesk", sans-serif ;
 }

 body{
  background-color:    hsl(221, 100%, 96%)  ;
}



.container{
    max-width: 1400px;
 }

h3{
   font-size: 18px;
   font-weight: bold;
}

.card-container{
   margin:100px auto;
   width: 540px;
   border-radius: 15px;
   background-color:   hsl(0, 0%, 100%);
   box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
   display: flex;
}
.result, .summary{
   width: 270px;
   border-radius: 15px;
   padding: 20px;
  
}
.result{
   background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
   color:  hsl(241, 100%, 89%);
   gap: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.result h3{
   margin-bottom: 20px;
}
.great{
   color: #fff;
}
.circle{
   gap: 0.8rem;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   background: linear-gradient( hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.digit{
   font-size: 60px;
   color: #fff;
}

.score-info{
   width: 90%;
   text-align: center;
   margin-bottom: 15px;
}

.subject{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 8px;
}
.summary h3{
   margin-left: 10px;
}
.reaction{
   margin-top: 30px;
   padding: 10px;
   background-color:  hsla(0, 100%, 67%, 0.1);
   border-radius:10px ;
}

.reaction .icon{
   color:  hsl(0, 100%, 67%);
}
.memory{
   background-color: hsla(39, 100%, 56%, 0.1) ;
   padding: 10px;
   border-radius: 10px;
 }

 .memory .icon{
   color: hsl(39, 100%, 56%) ;
 }

 .verbal{
  background-color: hsl(166, 100%, 37%, 0.1);
  padding: 10px;
  border-radius: 10px;
 }

 .verbal .icon{
   color: hsl(166, 100%, 37%);
 }

 .visual{
   background-color:hsl(234, 85%, 45%, 0.1) ;
   padding: 10px;
   border-radius: 10px;

}
.visual .icon{
   color:hsl(234, 85%, 45%) ;
}

.subjects{
   display: flex;
   flex-direction: column;
}
.icon{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
}
b{
   font-weight: bold; 
}
.btn{
   padding: 12px;
   background:linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
   color: #fff;
   border-radius: 20px;
   margin-top: 20px;
   text-align: center;
   font-size: 16px;
 }

.score p{
  color: rgb(103, 101, 101);
  font-weight: bold;
}
.score span{
   color: black;
   font-weight: bold;
}


@media screen and (max-width: 650px){
   .body{
      background-color: #fff;
   }
   .card-container{
      flex-direction: column;
      box-shadow: none;
      flex-direction: column;
   }

   .result{
      border-radius:0 0 2rem 2rem ;
   }
   .score-info{
      width: 85%;
   }
   
}